<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="notification-box">
  <div class="notification-formInline">
    <%= link_to user_path(visitor) do %>
      <span class="notification-Avater">
        <%= image_tag visitor.image.url, class: "notificationAvater" %>
      </span>
      <span><%= visitor.name %></span>
    <% end %>
    <span>さんが</span>
    <span class="card-stacked">
      <span class="notification-content">
        <% case notification.action %>
        <% when 'follow' then %>
        <%= "があなたをフォローしました" %>
        <% when 'clip' then %>
        <span><%= link_to 'あなたの投稿', post_path(notification.post), style: "font-weight: bold;" %></span>
        <span>にいいねしました</span>
        <% when 'dm' then %>
        <%= link_to 'ダイレクトメッセージ', user_path(visitor), style: "font-weight: bold;" %>
        <span>を送りました</span>
        <% when 'comment' then %>
        <span class="notification-comment">
          <% if notification.post.user_id == visited.id %>
            <span><%= link_to 'あなたの投稿', post_path(notification.post), style: "font-weight: bold;" %></span>
            <span>にコメントしました</span>
          <% else %>
            <span>
              <%= link_to post_path(notification.post) do %>
                <span><%= notification.post.user.name %>さんの投稿</span>
              <% end %>
              <span>にコメントしました。</span>
            </span>
          <% end %>
        </span>
        <% end %>
      </span>
    </span>
    <p class="notification-date">
      <span><i class="far fa-clock"></i></span>
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </p>
  </div>
</div>