<% @bookmarks.each do |post| %>
  <div class='mypage-NewPost'>
  <%= link_to '', post_path(post.id), class: "showlink", method: :get %>
    <div class='indexUserInfomation'>
      <div class='indexUserInfomation__userAvater'>
        <%= image_tag post.user.image.url, class: "avater" %>
      </div>
      <span class='indexUserInfomation__username'>
        <a href="/users/<%= post.user.id %>">
          <%= post.user.name %>
        </a>
      </span>
      <div class='indexUserInfomation__date'>
        <i class="far fa-clock"></i>
        <span><%= time_ago_in_words(post.created_at) %>前</span>
      </div>
    </div>
    <div class="categoryPostTitle">
      <span>~ <%= post.title %> ~</span>
    </div>
    <div class='categoryPostImage' style="background-image: url(<%= post.images[0].image %>);">
      <div class="categoryAreaInfomation">
        <div class="categoryAreaIcon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="categoryAreaName">
          <%= post.prefecture.name if post.prefecture_id? %>
        </div>
      </div>
      <div class="categoryIndexFavorite">
        <i class="far fa-bookmark"></i>
        <div class="clipedCount">
          <%= post.clips.count %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="showpagenate">
  <%= paginate @bookmarks, remote: true %>
</div>