<div class="showpagenate">
  <%= paginate @posts, remote: true %>
</div>
<% @posts.each do |post| %>
  <div class='mypage-NewPost'>
  <%= link_to '', post_path(post.id), class: "showlink", method: :get %>
    <div class="categoryPostTitle">
      <span>~ <%= post.title %> ~</span>
      <div class='categoryPostDate'>
        <i class="far fa-clock"></i>
        <span class="postTime"><%= time_ago_in_words(post.created_at) %>前</span>
      </div>
    </div>
    <div class='categoryPostImage' style="background-image: url(<%= post.images[0].image %>);">
      <div class="categoryAreaInfomation">
        <div class="categoryAreaIcon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="categoryAreaName">
          <%= post.prefecture.name if post.prefecture_id? %>
        </div>
      </div>
      <div class="cateogryIndexFavorite">
        <i class="far fa-bookmark"></i>
        <div class="clipedCount">
          <%= post.cliped_users.count %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="showpagenate">
  <%= paginate @posts, remote: true %>
</div>