<div class="myPage", style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
  <div class="myPageMain">
    <div class="myPageBox">
      <div class="myPageBoxForm">
        <div class='myPageBoxInformation'>
          <div class="myPageBoxInformation-Image">
            <% if @user.image.url.present? %>
              <%= image_tag @user.image.url, class:'image' %>
            <% else %>
              <div class="NoImage">
                <i class="fas fa-user-alt"></i>
                <p>No Image</p>
              </div>
            <% end %>
          </div>
          <%# <i class="fas fa-user"></i> %>
          <span class='myPageBoxInformation-Name'>
            <%= @name %> さんのマイページ
          </span>
          <% if user_signed_in? && current_user.id == @user.id %>
            <%= link_to 'マイページ編集', edit_user_registration_path(current_user), class: "MypageEdit", method: :get %>
          <% end %>

          <%= link_to followings_user_path(@user.id), class:"followFollowerViews" do %>
            <p>フォロー・フォロワーを見る</p>
          <% end %>

          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= form_with(model: @relationship, url: relationship_path, method: :delete, local: true) do |f| %>
                <%= f.hidden_field :follow_id %>  
                <%= f.submit "フォロー解除", class: "rerationshipOff" %>
              <% end %>
            <% else %>
              <%= form_with(model: @set_relationship, url: relationships_path, local: true) do |f| %>
                <%= f.hidden_field :follow_id, value: @user.id %>
                <%= f.submit "フォローする", class: "rerationshipOn" %>
              <% end %>
            <% end %>
          <% end %>

          <% if @user.id == current_user.id %>
          <% else %>
            <% if @isRoom == true %>
              <p>
                <i class="fas fa-envelope"></i>
                <a class="chatRoomLink", href="/rooms/<%= @roomId %>">チャットへ</a>
              </p>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                <%= f.submit "チャットを始める" %>
              <% end %>
            <% end %>
          <% end %>

        </div>
      </div>
      <%# DM %>
    </div>
    <div class="container">
      <ul class='user-nav-bar'>
        <li>
          <a href="#" id="top", class='user-nav active'>
            TOP
          </a>
        </li>
        <li>
          <a href="#" id="post", class='user-nav'>
            POST
          </a>
        </li>
        <li>
          <a href="#" id="favorite", class='user-nav'>
            Bookmark
          </a>
        </li>
      </ul>
      <ul class="pages">
        <li class="page show">
          <div class="top-page">
            <div class="top-page__introduce">
              <h5 class="top-page__introduce__title">
                introduce
              </h5>
              <div class="top-page__introduce__sentence">
                <%= @introduce %>
              </div>
            </div>
            <div class="top-page__status">
              <span class="top-page__status__title">
                status
              </span>
              <div class="top-page__status__sentence">
                <ul class="top-page__status__sentence__contents">
                  <li class="top-page__status__sentence__contents__content">
                    Prefecture： 
                  </li>
                  <li class="top-page__status__sentence__contents__content">
                    フォロー:
                  </li>
                  <li class="top-page__status__sentence__contents__content">
                    フォロワー:
                  </li>
                  <li class="top-page__status__sentence__contents__content">
                    Post:
                  </li>
                  <li class="top-page__status__sentence__contents__content">
                    Bookmark: 
                  </li>
                </ul>
                <ul class="top-page__status__sentence__counts">
                  <li class="top-page__status__sentence__counts__content">
                    <%= @prefecture %>
                  </li>
                  <li class="top-page__status__sentence__counts__content">
                    <%= @user.followings.count %> 人
                  </li>
                  <li class="top-page__status__sentence__counts__content">
                    <%= @user.followers.count %> 人
                  </li>
                  <li class="top-page__status__sentence__counts__content">
                    <%= @posts.length %> 件
                  </li>
                  <li class="top-page__status__sentence__counts__content">
                    <%= @user.cliped_posts.length %> 件
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <%# <div [hidden]="!chart"> %>
          <div class="chart-container">
            <canvas id="chart" class="chart">{{ chart }}</canvas>
          </div>
          <p class="jmap-title">投稿数（都道府県別）</p>
          <div id="jmap"></div>
          <!-- モーダル用HTML -->
          <div class="modal fade" id="prefectureModal" tabindex="-1" role="dialog" aria-labelledby="prefectureModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="prefectureModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body overflow-auto" style="height:350px;">
                  5人
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </div>
          <!-- モーダル用HTMLここまで -->
        </li>
        <%# POSTページ %>
        <li class="page">
          <% if @posts.length == 0 %>
            <div class="post-page__sentence">
              投稿がまだありません。
            </div>
          <% else %>
            <div class="userPostIndex">
              <div class="userPostIndex__postCount">
                POST :  <%= @posts.length %> 件
              </div>
              <% @posts.each do |post| %>
                <div class='mypage-NewPost'>
                <%= link_to '', post_path(post.id), class: "showlink", method: :get %>
                  <div class="CategoryPostTitle">
                    <span>~ <%= post.title %> ~</span>
                    <div class='CategoryPostDate'>
                      <i class="far fa-clock"></i>
                      <span class="postTime"><%= time_ago_in_words(post.created_at) %>前</span>
                    </div>
                  </div>
                  <div class='CategoryPostImage' style="background-image: url(<%= post.images[0].image %>);">
        
                    <div class="CategoryAreaInfomation">
                      <div class="CategoryAreaIcon">
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                      <div class="CategoryAreaName">
                        <%= post.prefecture.name if post.prefecture_id? %>
                      </div>
                    </div>
                    <div class="CateogryIndexFavorite">
                      <i class="far fa-bookmark"></i>
                      <div class="ClipedCount">
                        <%= post.cliped_users.count %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </li>
        <li class="page">
          <% if @user.cliped_posts.length == 0 %>
            <div class="post-page__sentence">
              Bookmarkした投稿がまだありません。
            </div>
          <% else %>
            <div class="userPostIndex">
              <div class="userPostIndex__postCount">
                Bookmark :  <%= @user.cliped_posts.length %> 件
              </div>
              <% @user.cliped_posts.each do |post| %>
                <div class='mypage-NewPost'>
                <%= link_to '', post_path(post.id), class: "showlink", method: :get %>
                  <div class='IndexUserInfomation'>
                    <div class='IndexUserInfomation__userAvater'>
                      <%= image_tag post.user.image.url, class: "avater" %>
                    </div>
                    <span class='IndexUserInfomation__username'>
                      <a href="/users/<%= post.user.id %>">
                        <%= post.user.name %>
                      </a>
                    </span>
                    <div class='IndexUserInfomation__date'>
                      <i class="far fa-clock"></i>
                      <span><%= time_ago_in_words(post.created_at) %>前</span>
                    </div>
                  </div>
                  <div class="CategoryPostTitle">
                    <span>~ <%= post.title %> ~</span>
                  </div>
                  <div class='CategoryPostImage' style="background-image: url(<%= post.images[0].image %>);">
                    <div class="CategoryAreaInfomation">
                      <div class="CategoryAreaIcon">
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                      <div class="CategoryAreaName">
                        <%= post.prefecture.name if post.prefecture_id? %>
                      </div>
                    </div>
                    <div class="CategoryIndexFavorite">
                      <i class="far fa-bookmark"></i>
                      <div class="ClipedCount">
                        <%= post.clips.count %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>


