<div class="myPage", style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
  <div class="myPageMain">
    <div class="myPageBox">
      <h4 class="rooms-title">
        Message
      </h4>
      <%= @entries.each do |e| %>
        <div class="rooms-users">
          <div class="rooms-users-info">
            <p>
              <p class='rooms-user-image' style="background-image: url(<%= e.user.image %>);"></p>
              <%= link_to e.user.name, user_path(e.user_id) %>
              <%# <%= link_to e.user.name, "/users/#{e.user_id}" %>
            </p>
          <div>
        </div>
      <% end %>
    </div>
    <div class="chats">
      <div class="CommentForm">
        <%= form_for @message do |f| %>
          <%= f.text_field :message, :placeholder => "メッセージを入力して下さい" , class: "CommentForm__textbox" %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <%= f.submit "投稿する", class: "CommentForm__btn" %>
        <% end %>
        <%= link_to "ユーザー一覧に戻る", user_path %>
      </div>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <div class="comment">
              <div class="comment_Avater">
                <%= image_tag m.user.image.url, class: "CommentAvater" %>
              </div>
              <strong>
                <%= link_to m.user.name, "/users/#{m.user_id}" %>：
                <%= m.message %>
              </strong>
            </div>
          <% end %>
        <% else %>
          <h3 class="text-center">メッセージはまだありません</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="chats">
      <div class="chat__scroll">
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <div class="comment">
              <div class="comment_Avater">
                <%= image_tag m.user.image.url, class: "CommentAvater" %>
              </div>
              <strong>
                <%= link_to m.user.name, "/users/#{m.user_id}" %>：
                <%= m.message %>
              </strong>
            </div>
          <% end %>
        <% else %>
          <h3 class="text-center">メッセージはまだありません</h3>
        <% end %>
        
        <%= form_for @message do |f| %>
          <%= f.text_field :message, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <%= f.submit "投稿する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



