<div class="left-button">
  <h4 class="rooms-title">
    気になる同士
  </h4>
  <%= @entries.each do |e| %>
    <div class="user-name">
      <strong>
        <%= image_tag "#{e.user.image}", class: "user-image" %>
        <a class="rooms-user-link" href="/users/<%= e.user.id %>">
          <%= e.user.name %>さん
        </a>
      </strong>
    </div>
  <% end %>
</div>
<div class="chats">
  <div class="chat__scroll">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div id="message_<%= m.id %>">
          <div class="chatbox">
            <div class="cha-face1">
              <%= image_tag "#{m.user.image}", class: "user-image" %>
              <div class="chat-hukidashi">
                <%= m.user.name %>
                <br>
                <%= m.message %>
                <br>
                <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
                <%= form_with(model: @message, url: edit_message_path(m.id), remote: true, method: :get) do |f| %>
                  <%= f.hidden_field :room_id, value: @room.id %>
                  <%= f.submit "編集" %>
                <% end %>
                <%= form_with(model: @message, url: message_path(m.id), remote: true, method: :delete) do |f| %>
                  <%= f.hidden_field :room_id, value: @room.id %>
                  <%= f.submit "削除" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>