<div id="chat_area", class="myPage", style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
  <div class="roomsMain">
    <div class="roomsBox">
      <h4 class="roomsTitle">
        Message
      </h4>
      <%# ユーザーのアイコンと名前表示 %>
      <div class="roomsUsers">
        <% @entries.each_with_index do |e, i| %>
          <div class="roomsUsersInfo">
            <div class="roomsUsersNav">
            <%= link_to '', user_path(e.user_id), class: "roomUserLink", method: :get %>
              <p><%= image_tag e.user.image.url, class: "roomsUsersNav__image" %></p>
              <p><%= link_to e.user.name, user_path(e.user_id), class: "roomsUsersNavName" %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="messageIcon">
        <i class="fas fa-envelope iconA"></i>
        <i class="fas fa-exchange-alt iconB"></i>
      </div>
    </div>
    <div class="chats">
      <div class="messageForm">
        <%= form_with(model: @message, local: true) do |f| %>
          <%= f.text_field :message, :placeholder => "メッセージを入力して下さい", class: "messageForm__textbox" %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <%= f.submit "投稿する", class: "messageForm__btn" %>
        <% end %>
      </div>
      <%# コメント欄 %>
      <div id="messages-area">
        <h4 class="messagesLooks">
          ＜コメント一覧＞
        </h4>
        <div class="messages">
          <% if @messages.present? %>
            <% @messages.each do |message| %>
              <div class="message">
                <div class="messageInfo">
                  <div class="message-Avater">
                    <%= image_tag message.user.image.url, class: "messageAvater" %>
                  </div>
                  <strong>
                    <%= link_to message.user.name , "/users/#{message.user_id}", class: "messageUserName" %> :
                  </strong>
                  <%= message.message %>
                </div>
                <div class="messageDate"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></div>
              </div>
            <% end %>
          <% else %>
            <h3 class="textCenter">メッセージはまだありません</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
    