<div id="chat_area", class="myPage", style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
  <div class="RoomsMain">
    <div class="RoomsBox">
      <h4 class="RoomsTitle">
        Message
      </h4>
      <div class="rooms-users">
        <% @entries.each do |e| %>
          <div class="RoomsUsersInfo">
            <div class="RoomsUsersNav">
            <%= link_to '', user_path(e.user_id), class: "RoomUserLink", method: :get %>
              <p><%= image_tag e.user.image.url, class: "RoomsUsersNav__image" %></p>
              <p><%= link_to e.user.name, user_path(e.user_id), class: "RoomsUsersNav__name" %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="MessageIcon">
        <i class="fas fa-envelope iconA"></i>
        <i class="fas fa-exchange-alt iconB"></i>
      </div>
    </div>
    <div class="chats">
      <div class="MessageForm">
        <%= form_with(model: @message, local: true, id: "new_message") do |f| %>
          <%= f.text_field :message, :placeholder => "メッセージを入力して下さい", class: "MessageForm__textbox" %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <%= f.submit "投稿する", class: "MessageForm__btn" %>
        <% end %>
      </div>
      <h4>＜コメント一覧＞</h4>
      <div class="Messages">
        <% if @messages.present? %>
          <% @messages.each do |message| %>
            <div class="Message">
              <div class="MessageInfo">
                <div class="Message-Avater">
                  <%= image_tag message.user.image.url, class: "MessageAvater" %>
                </div>
                <strong>
                  <%= link_to message.user.name , "/users/#{message.user_id}", class: "MessageUserName" %> :
                </strong>
                <%= message.message %>
              </div>
              <div class="MessageDate"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></div>
            </div>
          <% end %>
        <% else %>
          <h3 class="text-center">メッセージはまだありません</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
    