<%= form_with(model: @post, local: true, multipart: true) do |form| %>
  <div class='FormArea'>
    <div class='InputArea'>
      <ul class='FormSpace'>
        <li class="Prefecture">
          <label class="labelName" for="Prefecture">Prefecture：</label>
          <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '選択してください'}, {class: "Prefecture__input"} %>
        </li>
        <li class="Category">
          <label class="labelname" for="category">Category：</label>
          <%= form.collection_select :category_id, Category.all, :id, :name, {include_blank: '選択してください'}, {class: "Category__input"} %>
        </li>
        <li class="Title">
          <label class="TitleLabelName" for="titleSpace">Title：</label>
          <%= form.text_field :title, class: 'Title__input', placeholder: "タイトルを入力してください" %>
        </li>
        <li class='Image'>
          <label class="ImageLabelName" for="imageSpace">Photo：</label>
          <div class="prev-content">
          </div>
          <div class="label-content">
            <label class="label-box" for="post_images_attributes_0_image">
              <div class="label-box__text-visible">
                クリックしてファイルをアップロード（最大５枚）
              </div>
            </label>
          </div>
          <div class="hidden-content">
            <%= form.fields_for :images do |i| %>
              <%= i.file_field :image, class: "hidden-field", id: "post_images_attributes_0_image", name: "post[images_attributes][0][image]", type: "file" %>
              <%= i.file_field :image, class: "hidden-field", id: "post_images_attributes_1_image", name: "post[images_attributes][1][image]", type: "file" %>
              <%= i.file_field :image, class: "hidden-field", id: "post_images_attributes_2_image", name: "post[images_attributes][2][image]", type: "file" %>
              <%= i.file_field :image, class: "hidden-field", id: "post_images_attributes_3_image", name: "post[images_attributes][3][image]", type: "file" %>
              <%= i.file_field :image, class: "hidden-field", id: "post_images_attributes_4_image", name: "post[images_attributes][4][image]", type: "file" %>
            <% end %>
          </div>
        </li>
        <li class='Content'>
          <label class="labelName" for="contentSpace">Content：</label>
          <%= form.text_area :content, class: 'Content__input', placeholder: "コメントを入力してください" %>
        </li>
      </ul>
      <div class="GoogleMap">
        <div class="MapName">
          Map
        </div>
        <%= form.fields_for :spot do |spot| %>
          <div class="Address">
            <%= spot.label :address, "レビュー場所（ googleMapで検索）", class: 'Address__label' %>
            <%= spot.text_field :address, placeholder: "スポットを入力", id: "address", class: 'Address__input' %>
            <input type="button" value="検索" onclick="codeAddress()" class="Address__btn">
          </div>
        <div class="map", id="map">
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='Send'>
    <%= form.submit "送信中", class: 'Send__btn', value: "投稿する" %>
  </div>
<% end %>

