<div class="NewContents">
  <h3 class='NewContents__message'>
    Edit Post
  </h3>
  <div class="NewContents__container">
    <%= form_with(model: @post, local: true, multipart: true) do |form| %>
      <div class='FormArea'>
        <div class='InputArea'>
          <ul class='FormSpace'>
            <li class="Prefecture">
              <label class="labelName" for="Prefecture">Prefecture：</label>
              <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '選択してください'}, {class: "Prefecture__input"} %>
            </li>
            <li class="Category">
              <label class="labelname" for="category">Category：</label>
              <%= form.collection_select :category_id, Category.all, :id, :name, {include_blank: '選択してください'}, {class: "Category__input"} %>
            </li>
            <li class="Title">
              <label class="labelName" for="titleSpace">Title：</label>
              <%= form.text_field :title, class: 'Title__input', placeholder: "タイトルを入力してください" %>
            </li>
            <li class='Image'>
              <label class="labelName" for="imageSpace">Photo：</label>
              <%= form.file_field :image, class: 'Image_input', placeholder: "写真を選択してください" %>
            </li>
              <div class="prevImageBox">
              </div>
            <li class='Content'>
              <label class="labelName" for="contentSpace">Content：</label>
              <%= form.text_area :content, class: 'Content__input', placeholder: "コメントを入力してください" %>
            </li>
          </ul>
          <div class="GoogleMap">
            <div class="MapName">
              Map
            </div>
            <%= form.fields_for :spot do |spot| %>
              <div class="Address">
                <%= spot.label :address, "レビュー場所（ googleMapで検索）", class: 'Address__label' %>
                <%= spot.text_field :address, placeholder: "スポットを入力", id: "address", class: 'Address__input' %>
                <input type="button" value="検索" onclick="codeAddress()" class="Address__btn">
              </div>
            <div class="map", id="show_map">
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class='Send'>
        <%= form.submit "送信中", class: 'Send__btn', value: "更新する" %>
      </div>
    <% end %>
  </div>
</div>