<div class='mainWrapper'>
  <%# TOP(検索バー)部分 %>
  <div class='searchSection' id="0">
    <div class='searchBackgroundImage' style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
      <div class='applicationIntroduction1'>〜故郷の良さを再発見〜
      </div>
      <div class='applicationIntroduction2'>ここは故郷・今住んでいる場所のお気に入りスポットなどを投稿して共有するためのサイトです
      </div>
      <p class='searchHeading'>Keyword
      </p>
      <div class='searchSpace'>
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "rootpageSearchForm") do |form| %>
          <%= form.text_field :keyword, placeholder: "キーワードを入力", id: 'Search_Form', class: "rootpageSearchForm__content" %>
          <%= form.submit "検索", class: "rootpageSearchForm__bottum" %>
        <% end %>
      </div>
      <div id="UserSearchResult">
      </div>
    </div>
  </div>

  <%# Category画面 %>
  <div class='categorySection' id="1">
    <p class='categoryHeading'>Category
    </p>
  </div>
  <div class='categorySearch'>
    <%= render partial: "categories/categoryIndex" %>
  </div>

  <%# Prefecture画面 %>
  <div class='prefectureSection' id="2">
    <p class='prefectureHeading'> Prefecture
    </p>
  </div>
  <div class='prefectureSearch'>
    <%= render partial: "prefectures/prefectureIndex" %>
  </div>
  
  <%# New Posts画面 %>
  <div class='newPostMessage' id="3">
    <p class='newPostMessage__heading'>
      New Posts
    </p>
  </div>
  <div class='seeMore'>
    <%= link_to 'See More...', newposts_path %>
  </div>
  <div class="toppagePostIndex">
    <% @posts.first(5).each do |post| %>
      <div class='toppageNewPost'>
      <%= link_to '', post_path(post.id), class: "showLink", method: :get %>
        <div class='toppageUserInfomation'>
          <div class='toppageUserInfomation__userAvater'>
            <%= image_tag post.user.image.url, class: "Avater" %>
          </div>
          <span class='toppageUserInfomation__username'>
            <a href="/users/<%= post.user.id %>">
              <%= post.user.name %>
            </a>
          </span>
          <div class='toppageUserInfomation__date'>
            <i class="far fa-clock"></i>
            <span><%= time_ago_in_words(post.created_at) %>前</span>
          </div>
        </div>
        <div class="toppagePostTitle">
          <span>~ <%= post.title %> ~</span>
        </div>
        <div class='toppagePostImage' style="background-image: url(<%= post.images[0].image %>);">
          <div class="toppageAreaInfomation">
            <div class="toppageUserIcon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="toppageAreaName">
              <%= post.prefecture.name if post.prefecture_id? %>
            </div>
          </div>
          <div class="toppageIndexFavorite">
            <i class="fas fa-bookmark"></i>
            <div class="clipedCount">
              <%= post.cliped_users.count %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>