<div class="postShow">
  <div class='showNewPostArea'>
    <%# 投稿タイトル %>
    <div class="showPostTitle">
      <span>~ <%= @post.title %> ~</span>
    </div>
    <%# 投稿トップ画像 %>
    <div class='showPostImage', id='change_image', style="background-image: url(<%= @post.images[0].image%>);">
      <%# 都道府県名とアイコン %>
      <div class="showAreaInfomation">
        <div class="showUserIcon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="showAreaName">
          <%= @post.prefecture.name if @post.prefecture_id? %>
        </div>
      </div>
      <%# bookmarkのアイコンとカウント %>
      <% if current_user.already_cliped?(@post) %>
        <%= link_to post_clip_path(@post), class: "clipButton", method: :delete do%>
          <div class="categoryIndexFavorite">
            <i class="fas fa-bookmark"></i>
            <div class="clipedCount">
              <%= @post.clips.count %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to post_clips_path(@post), method: :post do%>
          <div class="categoryIndexFavorite">
            <i class="far fa-bookmark"></i>
            <div class="clipedCount">
              <%= @post.clips.count %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# 投稿画像一覧（最大５枚） %>
    <ul class="postImagesShow">
      <% @post.images.each_with_index do |image, i| %>
        <li>
          <%= image_tag image.image.url, class: "subImage"%>
        <li>
      <% end %>
    </ul>
    <%# 投稿のコメント部分 %>
    <div class='postDescription'>
      <%= @post.content %>
    </div>
    <%# 投稿編集・削除ボタン（投稿者のみ表示） %>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="showButtons">
        <%= button_to '編集', edit_post_path(@post.id), method: :get, class: 'showPostEditBtn' %>
        <button name="削除する" id="modal-open", class='showPostDeleteBtn'>削除</button>
      </div>
    <% end %>
    <%# Bookmark登録ボタン %>
    <div class='bookmarkBtn'>
      <% if current_user.already_cliped?(@post) %>
        <%= link_to post_clip_path(@post), method: :delete do%>
          <i class="fas fa-bookmark showBookmarkIcon1">Bookmarkを解除</i>
        <% end %>
      <% else %>
        <%= link_to post_clips_path(@post), method: :post do%>
          <i class="far fa-bookmark showBookmarkIcon2"> Bookmarkに登録</i>
        <% end %>
      <% end %>
    </div>
    <%# SNSシェアボタン %>
    <div class="shares">
      <span class="shares__btn">
        <a href="https://www.facebook.com/share.php?url=<%= request.url %>" rel="nofollow" target="_blank">
          <i class="fab fa-facebook-square sns1"></i>
        </a>
      </span>
      <span class="shares__btn">
        <a href="https://twitter.com/share?url=<%= request.url %>&text=Twitterでシェアしよう！@mytown Title:<%= @post.title %>" rel="nofollow" target="_blank">
          <i class="fab fa-twitter-square sns2"></i>
        </a>
      </span>
      <span class="shares__btn">
        <a href="http://line.me/R/msg/text/?https://syncer.jp">
          <i class="fab fa-line sns3"></i>
        </a>
      </span>
    </div>
  </div>
  <%# グーグルマップ %>
  <div class='googleMapShow'>
    <%= render 'showmap', post: @post %>
  </div>
</div>
<%# コメントエリア %>
<div class="commentArea">
  <%# コメントフォームと送信ボタン %>
  <% if current_user %>
    <div class="commentForm">
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "commentForm__textbox" %>
        <%= form.submit "SEND", class: "commentForm__btn" %>
      <% end %>
    </div>
  <% else %>
    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
  <%# コメント一覧 %>
  <div id="commentsArea">
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments.length == 0 %>
        <h4>コメントがまだありません</h4>
      <% else %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <div class="comment_Avater">
              <%= image_tag comment.user.image.url, class: "commentAvater" %>
            </div>
            <strong>
              <%= link_to comment.user.name, "/users/#{comment.user_id}" %>：
            </strong>
            <%= comment.text %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# 投稿削除部分モーダルエリア %>
<div id="modal-main">
  <div class="modal-contents">
    <div class="modal-content">
      <h3>投稿を削除しますか？</h3>
      <br>
      <h6>（削除すると復元ができませんのでご注意ください。）</h6>
      <div class="deleteMotalButton">
        <%= link_to '削除する', post_path(@post.id), method: :delete, class: "deleteBtn"%>
      </div>
      <div class="returnBtn">
        戻る
      </div>
    </div>
  </div>
</div>
<%# モーダルエリアここまで %>