<div class="Category-container">
  <div class="Category-slide home">
    <%= link_to 'favorite', 'categories/index?category_id=0', class: "Category-title"%>
    <div class="Category-about"></div>
  </div>
  <div class="Category-slide food">
    <%= link_to 'food', 'categories/index?category_id=1', class: "Category-title"%>
    <div class="Category-about"></div>
  </div>
  <div class="Category-slide about">
    <%= link_to 'shopping', 'categories/index?category_id=2', class: "Category-title"%>
    <div class="Category-about"></div>
  </div>
  <div class="Category-slide work">
    <%= link_to "nature", "categories/index?category_id=3", class: "Category-title" %>
    <div class="Category-about"></div>
  </div>
  <div class="Category-slide contact">
    <%= link_to 'event', 'categories/index?category_id=4', class: "Category-title"%>
    <div class="Category-about"></div>
  </div>
</div>