<div class="helps">
  <%= link_to "TOP", '#', class: "helps__content" %>
  <%= link_to "GUIDE",'#', class: "helps__content" %>
  <%= link_to  "CONTACT", '#', class: "helps__content" %>
  <%= link_to  "FAQ", '#', class: "helps__content" %>
</div>
<div class="footer-icon">
  <%= link_to "#", class: "iconMark" do %>
    <i class="fab fa-facebook-f footerIcon1"></i>
  <% end %>
  <%= link_to "#", class: "iconMark" do %>
    <i class="fab fa-twitter footerIcon2"></i>
  <% end %>
</div>
<div class="siteMap">
  <%= link_to "運営会社", '#', class: "siteMap__content"%>
  <%= link_to "プライバシーポリシー", '#', class: "siteMap__content" %>
</div>
<div class="copyright">
  Copyright ©︎ MyTown 2020
</div>