<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>MyTown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= include_gon %>
    <%= Gon::Base.render_data({}) %>
    
    <%= stylesheet_link_tag 'application' %>
    <%# <%= favicon_link_tag('favicon.ico') %>
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> %>
  </head>

  <body>
    <header class="Header">
      <%= render 'layouts/notifications' %>
      <div class="HeaderMenus">
        <div class="HeaderMenus__left">
          <%= link_to image_tag("myTown4.jpg", class: "HeaderLogo"), "/" %>
          <% if user_signed_in? %>
            <div class="LoginedMenus">
              <span class="LoginUserName">ログイン名: <%= current_user.name %></span>
              <%= link_to "マイページ", "/users/#{current_user.id}", class:"LoginMenu" %>
              <%= link_to  "投稿する", new_post_path, class: "LoginMenu" %>
              <a class="LoginMenu", id="Logout">ログアウト</a>
              <%# モーダル部分 %>
              <div id="LogoutModal-main">
                <div class="modal-contents">
                  <div class="modal-content">
                    <h3>ログアウトしますか？</h3>
                    <div class="HeaderModal">
                      <div class="LogoutYesNoButton">
                        <%= button_to 'はい', destroy_user_session_path, method: :delete, class: "LogoutBtn-yes"%>
                      </div>
                      <button class="LogoutBtn-no">いいえ</button>
                    </div>
                  </div>
                </div>
              </div>
              <%# モーダル部分ここまで %>
            </div>
          <% else %>
            <div class="BeforeLoginMenus">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'BeforeLoginMenu' %>
              <%= link_to "ログイン", new_user_session_path, class: 'BeforeLoginMenu' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'BeforeLoginMenu' %>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="HeaderMenus__right">
            <i class="fas fa-user header-userIcon"></i>
            <%= link_to(notifications_path) do %>
              <i class="fas fa-bell header-bellIcon", data-toggle="tooltip", data-placement="top", title="通知">
                <% if unchecked_notifications.any? %>
                  <span class="header-bellIcon__stack-count">
                    <%= unchecked_notifications.count %>
                  </span>
                <% end %>
              </i>
            <% end %>
          </div>
        <% end %>
        <div class="HanbergerMenu">
          <div class="bargermenu-btn">
            <i class="fa fa-bars", id="bargermenu-btn"></i>
          </div>
          <div class="bargermenu">
            <div id="bargermenu-btn" class="bargermenu-closebtn">
              <i class="far fa-times-circle"></i>
            </div>
            <% if user_signed_in? %>
              <div class="menus">
                <%= link_to "マイページ", "/users/#{current_user.id}", class:"menu-item" %>
                <%= link_to  "投稿する", new_post_path, class: "menu-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, class:"menu-item", method: :delete %>
              </div>
            <% else %>
              <div class="menus">
                <%= link_to "ログイン", new_user_session_path, class: 'menu-item' %>
                <%= link_to "新規登録", new_user_registration_path, class: 'menu-item' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>
  <%# <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> %>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>" async defer></script>

  </body>
</html>


