<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>MyTown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="Header">
      <%= render 'layouts/notifications' %>
      <div class="HeaderMenus">
        <div class="HeaderMenus__left">
          <%= link_to image_tag("myTown4.jpg", class: "logo"), "/" %>
          <% if user_signed_in? %>
            <div class="user_nav_menu">
              <span class="LoginUserName">ログイン名: <%= current_user.name %></span>
              <%= link_to "マイページ", "/users/#{current_user.id}", class:"MenuLink" %>
              <%= link_to "ログアウト", destroy_user_session_path, class:"MenuLink", method: :delete %>
              <%= link_to  "投稿する", new_post_path, class: "MenuLink" %>
            </div>
          <% else %>
            <div class="user_nav_login">
              <%= link_to "ログイン", new_user_session_path, class: 'LoginLink' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'LoginLink' %>
            </div>
          <% end %>
        </div>
        <div class="HeaderMenus__right">
          <i class="fas fa-user"></i>
          <i class="fas fa-bell"></i>
        </div>
      </div>
    </header>
    <%# <%= render 'layouts/notifications' %>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmv1pwJDbQBm2zCU5YOV2hNw41U5zjjsU&callback=initMap" async defer></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </body>
</html>
